<%= stylesheet_link_tag 'responses_index' %>

<h1>Happiness Trend</h1>

<div class='trend'></div>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Detail</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.question.prompt %></td>
        <td><%= response.answer_in_text %></td>
        <td><%= response.detail %></td>
        <td><%= response.created_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_response_path %>

<%= javascript_include_tag 'responses_index' %>
