<%= stylesheet_link_tag 'responses_index' %>

<div class='title'>
  <h1>
    Your average happiness score:
  </h1>

  <div class='average'>
    <span class="box <%= @style %>">
      <%= @average %>
    </span>
  </div>
</div>

<div class='trend'></div>

<div class='responses'>
  <% @responses.each do |response| %>
    <div class="row <%= response.answer_in_text %>">
      <div class='detail'><%= response.detail %></div>
    </div>
  <% end %>
</div>

<div class='action'>
  <%= link_to 'New Response', new_response_path %>
</div>

<%= javascript_include_tag 'responses_index' %>
