<%= stylesheet_link_tag 'responses_new' %>

<h1 class='question'><%= @question.prompt %></h1>

<div class='choices'>
  <span><%= image_tag 'sad_face.png', class: 'choice', data: { value: Response::VALUE_MAPPING['sad'] } %></span>
  <span><%= image_tag 'straight_face.png', class: 'choice', data: { value: Response::VALUE_MAPPING['normal'] } %></span>
  <span><%= image_tag 'happy_face.png', class: 'choice', data: { value: Response::VALUE_MAPPING['happy'] } %></span>
</div>

<div class='detail'>
  <textarea rows=4 cols=50 placeholder='Please provide detail for your rating'></textarea>
</div>

<div class='action'>
  <button id='submit'>Submit</button>
</div>

<%= javascript_include_tag 'responses' %>
